.m{
	width: 100%px;
	height: 1500px;
	background-color: white;
}


.a{
	height: 600px;
	width: 100%px;
	background-image: url('task20 images/div1bg.jpeg');
	background-size: 100% 100%;
	background-color: whitesmoke;
	
}
.a1{
	height: 200px;
	width: 100%;
	background-color: whitesmoke;	

}
.a1-1{
	height: 180px;
	width: 20%;
	background-color: white;
	float: left;
	position: absolute;
	top: 500px;
	left: 250px;

}

.a1-2{
	height: 180px;
	width: 20%;
	background-color: white;
	float: left;
	position: absolute;
	top: 500px;
	left: 600px;
}

.a1-3{
	height: 180px;
	width: 20%;
	background-color: white;
	float: left;
	position: absolute;
	top: 500px;
	left: 950px;
}
.h1{
	font-style: bold;
	font-size: 30px;
	color: white;
	position: absolute;
	top: 150px;
	left: 250px;
}
.p1{
	color: yellow;
	font-size: 15px;
	font-family: cursive;
	top: 250px;
	left: 250px;
	position: absolute;
}
.bt{
	color: black;
	border-radius: 50px;
	border-color: orange;
	top: 370px;
	left: 250px;
	text-align: center;
	position: absolute;
}


.i{
	height: 100px;
	width: 100px;
	font-size: 50px;
	color: sandybrown;
	position: absolute;
	left: 130px;
	top: 10px;

}
.a1-h2{
	padding: 20px;
	font-style: bold;
	position: absolute;
	top: 30px;
	left: 100px;

}
.a1-h3{
	padding: 20px;
	font-style: bold;
	position: absolute;
	top: 30px;
	left: 87px;
}

.a1-p{ position: absolute;
	text-align: center;
	top: 85px;
	left: 20px;
	color: black;
	padding-right: 13px;
}
.b{
	height: 600px;
	width: 100%;
	background-color: white;
}
.b-h1{
	text-align: center;
	color: black;

}
.b-p{
	text-align: center;
	color: black;

}

.v1{
	height: 250px;
	width: 70% ;
	background-color: white;
	margin-left: 220px;

}

.v2{
	height: 250px;
	width: 70% ;
	background-color: white;
	margin-left: 220px;
	margin-top: 10px ;
}
.v1-1{
	height: 250px;
	width: 330px;
	background-color: black;
	float: left;
	margin-left: 15px;
	background-image: url('task20 images/bg-6.jpeg');
	background-size: 100% 100%;

}
.v1-2{
	height: 250px;
	width: 330px;
	background-color: pink;
	margin-left: 15px;
	float: left;
	background-image: url('task20 images/bg-5.jpeg');
	background-size: 100% 100%;
}
.v1-3{
	height: 250px;
	width: 330px;
	background-color: red;
	margin-left: 15px;
	float: left;
	background-image: url('task20 images/bg-4.jpg');
	background-size: 100% 100%;
}

.v2-1{
	height: 250px;
	width: 330px;
	background-color: black;
	float: left;
	margin-left: 15px;
	background-image: url('task20 images/bg-1.jpeg');
	background-size: 100% 100%;
}
.v2-2{
	height: 250px;
	width: 330px;
	background-color: pink;
	margin-left: 15px;
	float: left;
	background-image: url('task20 images/bg-2.jpeg');
	background-size: 100% 100%;
}
.v2-3{
	height: 250px;
	width: 330px;
	background-color: red;
	margin-left: 15px;
	float: left;
	background-image: url('task20 images/bg-3.jpg');
	background-size: 100% 100%;
}
.c{
	height:600px ;
	width: 100%;
	background-color: whitesmoke;
	margin-top: 60px;
	padding-top: 50px;
}
.c-h1{
	text-align: center;
	font-style: bold;
	font-family: sans-serif;
	color: black;
}
.c-p{
	text-align: center;
	padding: 20px 200px;
}

.cd{
	height: 320px;
	width: 100%;
	background-color: whitesmoke;
}

.cd-1{
	height: 320px;
	width: 15%;
	background-color:;
	float: left;
	position: absolute;
	left: 140px;
}
.cd-2{
	height: 320px;
	width: 15%;
	background-color:;
	float: left;
	position: absolute;
	left: 460px;
}
.cd-3{
	height: 320px;
	width: 15%;
	background-color: ;
	float: left;
	position: absolute;
	left: 780px;
	
}
.cd-4{
	height: 320px;
	width: 15%;
	background-color: ;
	float: left;
	position: absolute;
	left: 1100px;
}
.bt2{
	color: black;
	font-size: 20px;
	border-radius: 50px;
	border-color: orange;
	text-align: center;
	position: absolute;
	top: 2050px;
	left: 700px;
}

.d{
	height: 300px;
	width: 100%;
	background-color: white;
	position: relative; 
	top: 100px;
}
.d-1{
	background-image: url('task20 images/bg-8.jpg');
	background-size: 100% 100%;
	height: 300px;
	width: 20%;
	background-color: red;
	float: left;
	position: absolute;
	left: 100px;
}
.d-2{
	border: 4px solid gold ;
	text-align: center;
	height: 292px;
	width: 20%;
	float: left;
	position: absolute;
	left: 420px;
	padding:0px 15px;
}
.d-3{
	background-image: url('task20 images/bg-9.jpeg');
	background-size: 100% 100%;
	height: 300px;
	width: 20%;
	background-color: yellowgreen;
	float: left;
	position: absolute;
	left: 775px;
}
.d-4{
	border: 4px solid gold;
	text-align: center;
	height: 292px;
	width: 20%;
	
	float: left;
	position: absolute;
	left: 1095px;
	padding:0px 15px ;
}


.e{
	height: 700px;
	width: 100%;
	position: relative;
	top: 200px;
	background-color: whitesmoke;
}
.e-1{
	height: 700px;
	width: 50%;
	background-image: url('task20 images/bg-10.jpg');
	background-size: 100% 100%;
	background-color: black;
	float: left;
}
.e-2{
	text-align:left;
	height: 500px;
	width: 35%;
	background-color:whitesmoke ;
	float: left;
	position: relative;
	left:80px ;
	top: 140px;
	
	
}
.bt-3{
	color: black;
	font-size: 15px;
	border-radius: 50px;
	border-color: orange;
	text-align: center;
	position: absolute;
	top: 260px;
	

}